.ipynb_checkpoints/
__pycache__/
Analysis/data-*
Analysis/XHost_*
exp2ipynb/__pycache__
exp2ipynb/__pycache__
exp2ipynb/__pycache__/exp2ipynb
stuff/
RegressorTests/
Exp2Ipynb_Manuscript.zip
secrets.txt
